<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760741204310-3cehv9oib69seq3npbd9o5i4pp4ippbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760741204310-3cehv9oib69seq3npbd9o5i4pp4ippbj</string>
	<key>API_KEY</key>
	<string>AIzaSyDiXtcNd9Of3A2DSZiYD8wMD4G_yeOVlUo</string>
	<key>GCM_SENDER_ID</key>
	<string>760741204310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moneyWatch</string>
	<key>PROJECT_ID</key>
	<string>moneycount-b3c97</string>
	<key>STORAGE_BUCKET</key>
	<string>moneycount-b3c97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760741204310:ios:0062841a306b333000c6f7</string>
	<key>DATABASE_URL</key>
	<string>https://moneycount-b3c97-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>